<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SEL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7E8BC3E1BE05C800062C1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7E8BC571BE05C810062C1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7E8BC621BE05C810062C1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
